@import './../../style/variables.scss';
@import './../../style/mixin.scss';

.fiche-logement {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
    @media screen and (max-width: $breakpoint-desktop) {
      width: 90%;
    }
    &-info {
      display: flex;
      flex-direction: column;
      max-width: 1240px;
      &--title {
        @include fontimportant;
      }
      &--location {
        @include font;
        padding-bottom: 20px;
      }
    }
    &-tags {
      max-width: 1240px;
      display: flex;
      flex-wrap: wrap;
    }
    &-rating {
      display: flex;
      justify-content: end;
    }
    &-location {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: $breakpoint-desktop) {
        flex-wrap: wrap;
      }
    }
    &-collapse {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 0;
      gap: 75px;
      @media screen and (max-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
      &-description {
        width: 50%;
        @media screen and (max-width: $breakpoint-desktop) {
          width: 100%;
        }
      }
      &-equipement {
        width: 50%;
        list-style: none;
        @media screen and (max-width: $breakpoint-desktop) {
          width: 100%;
        }
      }
    }
}

.host-rate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (max-width: $breakpoint-desktop) {
    gap: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
}

.info-tag {
  width: 100%;
}