@import './../../style/variables.scss';
@import './../../style/mixin.scss';

.fiche-logement {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    &-info {
      display: flex;
      flex-direction: column;
      width: 56em;
      &--title {
        @include fontimportant;
      }
      &--location {
        @include font;
        padding: 10px 0;
      }
    }
    &-location {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-host {
      width: 15em;
    }
    &-collapse {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 0;
      gap: 75px;
      &-description {
        width: 50%;
      }
      &-equipement {
        width: 50%;
        display: flex;
        flex-direction: column;
      }
    }
}