@import '../../../style/variables.scss';
@import '../../../style/mixin.scss';

.tag-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    @media screen and (max-width: $breakpoint-desktop) {
        flex-wrap: wrap;
    }
    &-span {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 115px;
        padding: 0 10px;
        height: 25px;
        background-color: $background-color;
        @include fontsmall;
        color: white;
        border-radius: 15px;
    }
}