@import '../../../style/mixin.scss';
@import '../../../style/variables.scss';

.carrousel {
    position: relative;
    padding: 30px 20px;
    max-width: 1240px;
        &-slider{
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s;
        }
        &-slider.active{
            opacity: 1;
            transform: translateX(0%);
            width: 100%;
            height: 420px;
            @media screen and (max-width: $breakpoint-desktop) {
                max-height: 320px;
            }
        }
        &-cover {
            @include imgcoverwh;
            border-radius: 25px;
        }
        &-number {
            color: white;
            position: absolute;
            left: 49%;
            bottom: 13%;
            @media screen and (max-width: $breakpoint-desktop) {
                display: none;
            }
        }
        
}

.right-arrow {
    @include right-arrow;
    @media screen and (max-width: $breakpoint-desktop) {
        left: 90%;
        width: 17px;
    }
}

.left-arrow {
    @include left-arrow;
    @media screen and (max-width: $breakpoint-desktop) {
        right: 90%;
        width: 17px;
    }
}