@import '../../../style/mixin.scss';
@import '../../../style/variables.scss';

.host {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &-name {
        @include font;
        width: 80px;
        text-align: right;
    }
    &-cover {
        height: 5em;
        border-radius: 65px;
    }
}