@import '../../style/variables.scss';
@import '../../style/mixin.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
	margin-top: 2em;
	max-width: 1240px;
	width: 86%;
		@media screen and (max-width: $breakpoint-desktop) {
		gap: 20px;
	}
	&-logo {
		width: 30%;
	}
	img {
		@media screen and (max-width: $breakpoint-desktop) {
		width: 100%;
		}
	}
	&-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include fontnav;
		text-decoration: none;
		gap: 20px;
		@media screen and (max-width: $breakpoint-desktop) {
			gap: 20px;
			text-transform: uppercase;
			@include fontmobile;
		}
	}
}

.nav-link {
	color: $primary-color;
}

.nav-active {
	font-weight: 500;
	line-height: 142.6%;
	color: $primary-color;
	text-decoration: underline;
}