@mixin body {
    margin: auto;
    max-width: 1440px;
}

@mixin imgcoverwh {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin right-arrow {
    position: absolute;
    bottom: 44%;
    left: 94%;
    cursor: pointer;
}

@mixin left-arrow {
    position: absolute;
    bottom: 44%;
    right: 94%;
    cursor: pointer;
}

@mixin fontnav {
    color: $primary-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;

}

@mixin fontimportant {
    color: $primary-color;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
}

@mixin fontsmall {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.96px;
}

@mixin font {
    color: $primary-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
}